.rcb-chat-window {
  width: 550px !important;
  max-width: calc(100% - 2.5rem);

  .rcb-bot-avatar {
    background-size: contain;
    border-radius: 0;
    background-position: center;
    background-repeat: no-repeat;
  }
  .rcb-chat-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
  }
  .rcb-bot-message a {
    color: #ffffff;
    text-decoration: underline;
  }
  .rcb-chat-footer-container {
    font-size: 10px;
  }
}
.embedded-qa-bot {
  .rcb-chat-window {
    width: 100% !important;
    max-width: 100%;
  } 
}